html, body {
  font-family: 'B612' !important;
}

body {
  background: url(../IMG/fundo.jpg) center no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-flow: column;
  height: 100vh;
  max-width: 1500px;
  padding: 0 20px;
  margin: 0 auto;
}

main, header {
  flex: 1;
}

.container-title {
  display: grid;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
}

.container-title h2 {
  padding: 10px 10px;
  font-size: 27px;
  line-height: 25px;
  margin-top: 37px;
}

.container-title h1 {
  font-size: 135px;
  line-height: 115px;
  margin: 75px 0 175px;
}

.imgCapa {
  height: 300px;
  border-radius: 20px;
}

.containerImgCapa {
  display: flex;
  padding: 0 115px;
  margin: 0 120px;
}

.containerContents {
  padding: 0 0 0 80px;
}

.containerStatus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 95px 0 0;
}

.text {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: white;
  font-style: normal;
}

.textStatus {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  font-style: normal;
  color: white;
  padding-right: 60px;
}

#textStatusTwo {
  padding: 0 20px 0 90px;
}

.containerButtons {
  margin-top: 81px;
}

.buttonOne {
  border-radius: 3px;
  padding: 15px 27px 15px 27px;
  border: none;
  background-color: #0072D2;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  margin-right: 15px;
}

.buttonTwo {
  border-radius: 3px;
  padding: 15px 25px 15px 25px;
  background-color: #131318;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  border: 1px solid #FFFFFF;
}

button {
  text-transform: uppercase;
}


@media screen and (max-width: 1470px) {
  main, header, footer {
    flex: 1;
  }
  .container-title h2 {
    font-size: 20px;
    line-height: 24px;
  }
  .container-title h1 {
    font-size: 96px;
    line-height: 116px;
    margin: 30px 0 117px;
  }
  .imgCapa {
    height: 267px;
    border-radius: 20px;
  }
  .containerImgCapa {
    padding: 0 90px;
    margin: 0 120px;
  }
  .containerContents {
    padding: 0 0 0 75px;
  }
  .containerStatus {
    margin: 40px 50px 0 0;
  }
  .textStatus {
    padding-right: 80px;
  }
  #textStatusTwo {
    padding: 0 40px 0 102px;
  }
  .containerButtons {
    margin-top: 57px;
  }

}

@media screen and (max-width: 1410px) {
  main, header, footer {
    flex: 1;
  }
  .container {
    max-width: 1000px;
  }
  .container-title h2 {
    margin-top: 15px;
    font-size: 20px;
    line-height: 24px;
  }
  .container-title h1 {
    font-size: 96px;
    line-height: 116px;
    margin: 10px 0 117px;
  }
  .imgCapa {
    height: 240px;
    border-radius: 20px;
  }
  .containerImgCapa {
    padding: 0 10px;
    margin: 0 30px;
  }
  .containerContents {
    padding: 0 0 0 75px;
  }
  .containerStatus {
    margin: 20px 50px 0 0;
  }
  .textStatus {
    padding-right: 50px;
  }
  .containerButtons {
    margin-top: 50px;
  }

}

@media screen and (max-width: 1010px) {
  .container {
    max-width: 1000px;
  }
  .container-title h2 {
    margin-top: 70px;
  }
  .container-title h1 {
    margin: 10px 0 93px;
  }
  .containerImgCapa {
    padding: 0 35px;
  }
  .containerContents {
    padding: 0 0 0 55px;
  }
  .containerStatus {
    margin: 20px 0 0;
  }
  .text {
    font-size: 17px;
  }
  .textStatus {
    padding-right: 60px;
    font-size: 20px;
  }
  .imgTimer {
    height: 25px;
  }
  .imgStars {
    height: 30px;
  }
  #textStatusTwo {
    padding: 0 85px 0 98px;
  }
  .containerButtons {
    margin-top: 50px;
  }

}

@media screen and (max-width: 960px) {

  .container{
    max-height: 650px;
  }
  .imgCapa {
    height: 230px;
  }
  .containerImgCapa {
    padding: 0 8px;
  }
  .containerStatus {
    margin: 40px 0 0;
  }
  .text {
    font-size: 16px;
    margin-right: 25px;
    line-height: 27px;
  }
  .textStatus {
    padding-right: 90px;
    font-size: 19px;
  }
  .imgTimer {
    height: 25px;
    padding-right: 15px;
  }
  #textStatusTwo {
    padding: 0 85px 0 115px;
  }
  .containerButtons {
    margin-top: 51px;
  }
  .buttonOne {
    padding: 10px 22px 10px 22px;
    font-size: 15px;
  }
  .buttonTwo {
    padding: 8px 20px 8px 20px;
  }
}